@import "tailwindcss";

:root {
  --body-grad: linear-gradient(0deg, #000 80%, #0b152e 100%);
  --secondary-txt: #f9f9f9;
}

@keyframes scroll {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0.4;
    transform: translateY(28px);
  }
}

@theme {
  --color-header: #141f34;
  --color-primary-clr: #fff;
  --color-border-clr: #2c3143;
  --color-txt-hover: #00bdf5;
  --color-secondary-style: #01a8c5;
  --color-btn-clr: #1b1b1d;
  --color-txt-clr: #838b97;
  --color-filter-bg: #0d0d0d;
  --color-main-clr: #00b7fa;
  --color-add-color: #00b8db;

  --background-image-future-grad: linear-gradient(
    90deg,
    #00b7fa 0%,
    #8349fe 100%
  );
  --background-image-logo-grad: linear-gradient(90deg, #00b7fa 0%, #0075fc 100%);
  --animate-pulse-slow: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --animate-scroll: scroll 2s infinite;
}

body {
  background-image: var(--body-grad);
  min-height: 100vh;
  color: var(--secondary-txt);
}
